.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11{float:right}

.center_div {
     float: none;
     margin-left: auto;
     margin-right: auto;
}



.jumbotron {
    padding-bottom: 35px;
    padding-top: 55px;
}

/*

.navbar-inverse {
    background-color: #4B4A45;
    border-color: #080808;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #6E6100;
    color: #FFFFFF;
}


a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #6E6100;
    border-color: #428BCA;
    color: #FFFFFF;
    z-index: 2;
}



.jumbotron {
    background-color: #F9F2C7;
    color: inherit;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.14286;
    margin-bottom: 30px;

}



a.list-group-item:hover, a.list-group-item:focus {
    background-color: #F9F2C7;
    text-decoration: none;
}


.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #F9F2C7;
    border-color: #ADADAD;
    color: #333333;
}
*/







